<!DOCTYPE html>

<div>

    <h2>Enter you quiz json here</h2>


    <!--<input type="text" name="name" id="inputID" class="form-control" value="" title="" required="required" >-->

    <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>


    <div class="btn-group">
        <button ng-click="save()" class="btn btn-default">Save</button>
        <button ng-click="clear()" class="btn btn-default">Clear</button>
    </div>


    <p>Number of characters: <span ng-bind="numberOfChars()"></span></p>

</div>

<div>
    <div>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <input ng-model="searchQuery" type="text"
                                                                                   class="form-control"/>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th><a href="" ng-click="searchParam.sortField = 'title';searchParam.ascending = !searchParam.ascending">Title</a>
            </th>
            <th><a href="" ng-click="searchParam.sortField = 'objectId';searchParam.ascending =!searchParam.ascending">Item</a>
            </th>
            <th>Image</th>
            <th><a href="" ng-click="searchParam.sortField = 'updatedAt';searchParam.ascending =!searchParam.ascending">Updated
                at</a>
            </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="object in getObjects()  |filter:searchQuery |orderBy:searchParam.sortField:searchParam.ascending track by object.objectId">
            <td>
                <a ng-href="{{getItemUrl(object)}}">{{object.title}}</a>
            </td>
            <td>
                {{object.objectId}}
            </td>
            <td>
                <img ng-src="{{object.previewImg}}" width="100"/>
            </td>
            <td>
                {{object.updatedAt|date:'HH:mm:ss yyyy-dd-MM'}}
            </td>
            <td>
                <a href="" ng-click="removeItem(object)">remove</a></li>
            </td>
        </tbody>
    </table>


</div>
