.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 20px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}

.slideAnswerText{
    width:86%;
    position:absolute;
    bottom:2px;
}

.slideMainText{
    width:97%;
}


.opacityText {
    color:#FBF7F7;
    z-index:100;
    opacity: 0.76;
    filter: alpha(opacity=76);
    background-color: #000000;
}
.slideMainText{
    position:absolute;
    bottom:2px;
}

.slideAnswerInput{
    position: absolute;
    bottom: 5px;
    height: 20px;
}

.copyrightMain {
    z-index: 100;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
}

.copyrightMainFont
{
    left:0px;
    font-size: 1em;
}
.selectMainImageNoImage{
    position:absolute;
    top:100px;
    left:145px;
}

.selectButtonImage{
    position:absolute;
    top:6px;
    left:6px;
}
.selectMainImage{
    position:absolute;
    top:3px;
    left:4px;
}

.uploadcare-widget-text
{
    color: white;
    padding: .4em .6em;
    line-height: 1;
    margin: -1em 0;
    margin-right: .5ex;
    border-radius: .25em;
    background: #c3c3c3;
    cursor: default;
    border-bottom: none;
}

.cameraButton
{
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.answerRightWrong
{
    position:absolute;
    top:6px;
    right:6px;
}
.creditTextEdit
{
    z-index:100;
    position:absolute;
    top:4px;
    right: 5px;
    width: 120px;
    height: 25px;
}

.uploadcare-widget-file-name
{
    color: white;
}

body {
    background: #F2F2F2 !important;
}

.animate-show {
    opacity: 1;

}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.slide-visible {
    opacity: 0.5;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.slide-visible.hideit {
    opacity: 0;

}

.jump-button-edit
{
    padding:0px;
    margin:5px;
    height: 20px;
    width:20px;
    border-radius: 20px;
}

.jump-button-view
{
    padding:0px;
    margin:5px;
    height: 12px;
    width:12px;
    border-radius: 12px;
}

.jump-button-text
{
    padding:0px;
    margin:0px;
    font-size: 0.75em;
}

.defaultPad
{
    padding:3px;
}
.defaultMargin
{
    margin:3px;
}

@media all
{
}
@media all and (max-width: 1200px) {
}
@media all and (max-width: 992px) {

}
@media all and (max-width: 460px) {


    .modal-dialog {
        width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
    }
    .row-no-gutter{
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-no-gutter{
        padding-left: 0px;
        padding-right: 0px;
    }
}