.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}



.slideMainText{
    color:#FBF7F7;
    z-index:100;
    position:absolute;
    bottom:0px;
    opacity: 0.76;
    filter: alpha(opacity=76);
    background-color: #000000
}



body {
    background: #F2F2F2 !important;
}

.animate-show {
    opacity: 1;

}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.slide-visible {
    opacity: 0.5;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.slide-visible.hideit {
    opacity: 0;

}

.jump-button
{
    height: 12px;
    width:12px;
    border-radius: 12px;
    margin:5px;
}

.defaultPad
{
    padding:3px;
}
.defaultMargin
{
    margin:3px;
}

@media all
{
}
@media all and (max-width: 1200px) {
}
@media all and (max-width: 992px) {

}
@media all and (max-width: 460px) {


    .modal-dialog {
        width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
    }
    .row-no-gutter{
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-no-gutter{
        padding-left: 0px;
        padding-right: 0px;
    }
}