<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#">FeedMe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">


            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="form-group has-feedback column" >
                        <input  type="text" ng-model-options="{ debounce: 1000 }" ng-model="searchTerm" placeholder="Search"
                               typeahead="item.getTitle() for item in getItemsWithTerm($viewValue)"
                               typeahead-loading="searching"
                               class="form-control" typeahead-wait-ms="300"
                               typeahead-template-url="templates/itemPreview.html" typeahead-on-select="selectItem($item, $model, $label)">
                        <i class="glyphicon form-control-feedback"
                           ng-class="{'glyphicon-search' : !searching, 'glyphicon-refresh' : searching }"></i>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right ">
                <li ui-view="create" class="leftRightPad" >
                </li>
                <li ng-show="!userLoggedIn()" class="leftRightPad">
                    <button type="button" class="btn btn-primary navbar-btn" aria-label="Show"
                            ng-click="login()">
                        Login
                    </button>
                </li>

                <li>
                    <span class="dropdown" dropdown on-toggle="toggled(open)" ng-show="userLoggedIn()"
                          aria-hidden="true">
                    <img ng-src="{{profileImg}}" class="img-thumbnail" dropdown-toggle aria-hidden="true"/>

                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/profile" popover-placement="left" container='body' popover="View your items"
                               popover-trigger="mouseenter">Profile</a>
                        </li>
                        <li>
                            <a popover-placement="left" container='body' popover="Why? :("
                               popover-trigger="mouseenter"
                               ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </span>

                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->


    </div>
</nav>


<div ui-view="userInfo">

</div>

<div ui-view="itemList">

</div>
