<div class="row clearfix">
    <div class="col-xs-24 column defaultPad">
        <div ng-click="openImageSelector(setPreviewImg, page, '468:263 minimum')"
             ng-class="{'hoverPointer': editMode}">
            <img class="img-responsive"
                 ng-src="{{(page.previewImg != null)?page.previewImg : 'http://placehold.it/468X263&text=+'}}">

            <div class="selectMainImageNoImage" ng-show="editMode && page.previewImg == null">
                Click to add image</br>
                <span class="glyphicon glyphicon-picture imageBig " aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-4 control-label ">Title:</label>

            <div class="col-xs-20 column ">
                <input type="text" class="form-control" ng-model="title"
                       placeholder="Just choose a nice title for your activity.." ng-model-options="{ debounce: 1000 }">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label ">Tags:</label>

            <!--<div class="col-xs-20 column">-->
                <!--<input type="text" class="form-control" ng-model="tags" ng-model-options="{ debounce: 1000 }" placeholder="#sports #ladygaga #gameofthrones" ngPattern="/#.+?\b/g">-->
            <!--</div>-->
            <tags model="foo" ></tags>

        </div>
    </form>

</div>
