<div class="row clearfix">
    <div class="col-xs-24 column defaultPad">
        <div ng-click="openImageSelector(setPreviewImg, page, '468:263 minimum')"
             ng-class="{'hoverPointer': editMode}">
            <img class="img-responsive"
                 ng-src="{{(page.previewImg != null)?page.previewImg : 'http://placehold.it/468X263&text=+'}}">

            <div class="selectMainImageNoImage" ng-show="editMode && page.previewImg == null">
                Click to add image</br>
                <span class="glyphicon glyphicon-picture imageBig " aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-6 control-label ">Title:</label>

            <div class="col-xs-18 column defaultPad">
                <input type="text" class="form-control" ng-model="title"
                       placeholder="Just choose a nice title for your activity..">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 control-label ">Tags:</label>

            <div class="col-xs-18 column defaultPad">
                <input type="text" class="form-control" placeholder="#sports #ladygaga #gameofthrones">
            </div>
        </div>
    </form>
</div>