gfdgfgfd
<!--<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-sm-12 col-xs-24 column defaultPad">
            <img class="img-responsive" ng-animate="'animate'"
                 ng-src="{{(page.slides[page.selectedSlide].imgSmall != null)?page.slides[page.selectedSlide].imgSmall : 'http://placehold.it/468X263&text=+'}}">

            <div class="selectMainImageNoImage">

                <button type="button" class="btn btn-default cameraButton" aria-label="Save"
                        ng-click="openImageSelector(page.slides[page.selectedSlide], '468:263 minimum')">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Add Image
                </button>


            </div>

        </div>
    </div>
</div>-->