<div class="modal-body">
    <div class="row clearfix defaultPad ">
        <div class="col-md-12 col-sm-12 col-xs-24 column defaultPad panel panel-default">
            <div class="row clearfix defaultPad">
                <div class=" col-xs-4 column ">
                    <img class="img-responsive"
                         ng-src="http://i.forbesimg.com/media/lists/people/steve-jobs_416x416.jpg">
                </div>
                <div class="col-xs-18 column ">
                    <div class="row clearfix defaultPad">
                        <strong>How well do you know the world?</strong>
                    </div>
                    <div class="row clearfix defaultPad">
                        {{creatorName}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row clearfix defaultPad" ng-show="editMode">
        <div>
            <div ui-view="itemTabs" class="col-md-12 col-sm-12 col-xs-24 column">
            </div>

        </div>

    </div>

    <div class="row clearfix defaultPad" ng-show="!editMode">
        <div>
            <div class="col-md-12 col-sm-12 col-xs-24 column" ui-view="slides"></div>
        </div>
    </div>

    <div class="row clearfix defaultPad">
        <div class="col-md-24 col-sm-8 col-xs-8 column defaultPad ">

            <div class="btn-group" role="editing" aria-label="editing and saving">
                <button type="button" class="btn btn-default" aria-label="Edit"
                        ng-class="{'active' : editMode,'disabled':editMode}" ng-click="toggleEdit()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-default" aria-label="Show"
                        ng-class="{'active' : !editMode,'disabled':!editMode}" ng-click="toggleEdit()">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="PublishToggle" ng-click="publishToggle()"
                        ng-class="{'disabled':false}">
                    <i class="glyphicon glyphicon-globe" aria-hidden="true"> </i> {{getPublishStr()}}
                </button>
            </div>


        </div>
    </div>
    <div class="row clearfix defaultPad">
        <div class="col-md-24 col-sm-8 col-xs-8 column defaultPad">

            <button type="button" class="btn btn-default" aria-label="getLink" clip-copy="getLink()"
                    ng-class="{'disabled':false}">
                <span class="glyphicon glyphicon glyphicon-link
                " aria-hidden="true"></span> Copy Link to clipboard
            </button>

            <div class="btn-group" role="sharing" aria-label="sharing">
                <a ng-click="shareToFacebook()" ng-href="{{myUrl}}" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-share" aria-hidden="true"></span> Share
                </a>
            </div>
        </div>

    </div>

</div>
