<tabset justified="true">
    <tab select="showCover()">
        <tab-heading>
            <i class="glyphicon glyphicon-home" aria-hidden="true"></i> Cover
        </tab-heading>
        <div ui-view="cover">
        </div>
    </tab>

    <tab heading="Slides" select="showSlides()" active="activeSlideTab">
        <tab-heading>
            <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> Questions
        </tab-heading>
        <div ui-view="slides">

        </div>
    </tab>
    <tab heading="Results" select="showResults()">
        <tab-heading>
            <i class="glyphicon glyphicon-stats" aria-hidden="true"></i> Results
        </tab-heading>

        Results
    </tab>

</tabset>
