<!DOCTYPE html>

<div class="container">

    <div class="row clearfix">
        <div class="col-md-8 col-sm-12 col-xs-24 column col-no-gutter">
            <button popover-placement="bottom" popover="Login with facebook" popover-trigger="mouseenter"
                    class="btn btn-sm btn-primary" ng-click="login()" ng-show="!userLoggedIn()">Login
            </button>
            <button popover-placement="bottom" popover="Why? :(" popover-trigger="mouseenter"
                    class="btn btn-sm btn-primary" ng-click="logout()" ng-show="userLoggedIn()">Logout
            </button>
        </div>

    </div>
    <div class="row clearfix">
        <div class="col-md-8 col-sm-12 col-xs-24 column col-no-gutter" ng-repeat="item in items track by $index">
            <h4 class="text-left">
                {{item.getPageObject().title}}
            </h4>
            <a ng-href="#/itemList/{{item.id}}/view">
                <img alt="360*276"
                     ng-src="{{item.getPageObject().previewImg}}" class="img-responsive" data-toggle="modal">
            </a>

        </div>
    </div>
</div>
